<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%include ./head.ejs%>
    <style>
        #noLogin{
            margin-top: 100px;
            font-size: 20px;
            line-height: 30px;
        }
    </style>
</head>
<body>
<% include ./header.ejs%>
<div class="jumbotron" style="margin-top:10px">
    <% if(user) {%>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="/users/showavatar">
                    <img width="150" height="150" src=<%=user.avatar%>>
                </a>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <p><%=user.username%></p>
                <textarea name="content" id="content" cols="100" rows="8"></textarea>
                <button id="btn" class="btn btn-success" type="button">发表内容</button>
            </div>
        </div>

    </div>
    <div class="container" style="padding-top: 48px">
        <nav>
            <ul class="pagination">

            </ul>
        </nav>
        <div class="row" id="div">

        </div>
    </div>
    <% }else {%>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>欢迎!游客</h1>
                <p>blog是使用node.js做的一个博客项目,请先注册登录,才能正常使用</p>
                <p><a href="/users/register" class="btn btn-primary btn-lg" role="button">注册</a></p>
            </div>
            <div class="col-md-6">
                <p>已有账号,请登录!!!!!</p>
                <form action="/users/login" method="post">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" name="psw" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked>我接受用户协议
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">登录</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="noLogin"></div>
        </div>
    </div>
    <% } %>
</div>
</body>
<script type="text/template" id="view">
    <div class="col-md-4 grid con">
        <h2><img src={{= obj.avatar}} width="40" class="img-circle" alt=""></h2>
        <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{=obj.content}}</p>
        <p class="time">{{=obj.time}}</p>
        <p><a href="/index/detail/posts?id={{=obj._id}}"></a></p>
    </div>
</script>
<script>
    $(function () {
        $('#btn').click(function () {
            let content = $('#content').val().trim(); // 去首尾空格
            if(content.length == 0) {
                alert('发表内容不能为空')
            }else {
                $.post('/users/dopost',{content}, (data) => {
                    if(data == 1) {
                        alert('发表成功')
                        window.lacation='/'
                    }else {
                        alert('发表失败,请重试')
                        window.laction='/'
                    }
                })
            }
        })
//        let compiled = _.template($('#view').html())
//        getdata(0)
//        function getdata(page) {
//            $.ajax({
//                'url': '/index/getAllPost?p='+page,
//                type: 'get',
//                success:function (r) {
//                    $('div').html('')
//                    if(r.err == 1) {
//                        $('#noLogin').html('<h3>'+r.result+'<h3>')
//                    }else {
//                        (function int(i) {
//                            if(i == r.result.length) {
//                                return;
//                            }
//                            // 用户未登录问题
//                            $.get('/index/getavatar/'+r.result[i].username, (avatarMsg) => {
//                                // 修改字典项
//                                r.result[i].avatar = avatarMsg.avatar
//                                let html = compiled({'obj': r.result[i]})
//                                $('#div').append(html)
//                                int(i+1)
//                            })
//                        })(0)
//                    }
//                }
//
//            })
//        }
    })
</script>
</html>